<ion-header>
  <ion-toolbar>
    <ion-title>forms</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<!-- Inputs with labels -->
<ion-item>
  <ion-label>Default Label</ion-label>
  <ion-input></ion-input>
</ion-item>

<ion-item>
  <ion-label position="floating">Floating Label</ion-label>
  <ion-input></ion-input>
</ion-item>

<ion-item>
  <ion-label position="fixed">Fixed Label</ion-label>
  <ion-input></ion-input>
</ion-item>
<div style="display:flex; justify-content: center;" >
  <ion-button href="/cards">
    <ion-icon slot="start" name="star"></ion-icon>
    Ir a la página 2
  </ion-button>
</div> 
</ion-content>
